{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 4 versions", "not ie <= 9"]
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
